<p id="notice"><%= notice %></p>

<p>
  <b>Batch:</b>
  <%= @structure.batch_id %>
</p>

<p>
  <b>Input tag:</b>
  <%= @structure.input_tag %>
</p>

<h2>Residues</h2>
<% @structure.residues.each do |residue| %>
  <p>
    <b>Residue type:</b>
    <%= residue.res_type %>
  </p>

  <p>
    <b>Residue number:</b>
    <%= residue.resnum %>
  </p>

  <p>
    <b>Residue name 3:</b>
    <%= residue.name3 %>
  </p>
<% end %>

<%= link_to 'Back', structures_path %>
